<div class="profil">
    <header>
        <img src="profil-img">
        <h2>This.username</h2>
    </header>
    <article class="list-event">
            <div class="card-event">
                <img src="../images/div-home1.jpg">
                <h3>Football Party</h3>
                <hr>
                <p>5 Rue Camille Godard, 33100, Bordeaux</p>
                <p>Mardi 13 Juin | 2023 </p>
                <button><a href="/event/:id">Details Here</a></button>
            </div>

            <div class="card-event">
                <img src="../images/div-home1.jpg">
                <h3>Football Party</h3>
                <hr>
                <p>5 Rue Camille Godard, 33100, Bordeaux</p>
                <p>Mardi 13 Juin | 2023 </p>
                <button><a href="/event/:id">Details Here</a></button>   
            </div>

            <div class="card-event">
                <img src="../images/div-home1.jpg">
                <h3>Football Party</h3>
                <hr>
                <p>5 Rue Camille Godard, 33100, Bordeaux</p>
                <p>Mardi 13 Juin | 2023 </p>
                <button><a href="/event/:id">Details Here</a></button>
            </div>

            <div class="card-event">
                <img src="../images/div-home1.jpg">
                <h3>Football Party</h3>
                <hr>
                <p>5 Rue Camille Godard, 33100, Bordeaux</p>
                <p>Mardi 13 Juin | 2023 </p>
                <button><a href="/event/:id">Details Here</a></button>
            </div>
    </article>
</div>