<header class="header-home">
    <img  src="../images/Home.jpg" alt="Cover Page">
    <div>
        <h1>Event App</h1>
        <p>Every time, Every where</p>
    </div>
</header>

<article class="article-home">
    <h2>How we work ?</h2>
    <div class="div-home">
        <img src="../images/div-home1.jpg">
        <h3>Event</h3>
        <p>Create your event, invite your friends, share the position and meet people around you</p>
        <button><a href="/event">Event</a></button>
    </div>
</article>


<article class="second-div-home">
    
        <div>
            <h3>What we recommend</h3>
            <p>We add to our recommendations the organizers with the best ratings as well as their future events, Take advantage not to miss them !  
        <br><br>
            To earn points and reach the place in the recommendations, create a maximum of well-rated events that will allow you to reach the first place and attract our community to each of your events. </p>
            <a href="/recommandation">See our recommendations...</a>
        </div>
        <img src="../images/div-home2.jpg" alt="Meet-Up">
    
</article>
