<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Event App</title>
    <link rel="shortcut icon" href="../images/icone.png">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script>
        function showResponsiveMenu() {
          var menu = document.getElementById("topnav_responsive_menu");
          var icon = document.getElementById("topnav_hamburger_icon");
          var root = document.getElementById("root");
          if (menu.className === "") {
            menu.className = "open";
            icon.className = "open";
            root.style.overflowY = "hidden";
          } else {
            menu.className = "";                    
            icon.className = "";
            root.style.overflowY = "hidden";
          }
        }
      </script>
  </head>

  <body id="root">
      <div id="topnav_hamburger_icon" href="javascript:void(0);" onclick="showResponsiveMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <nav >
        <div id="topnav_responsive_menu">
        <ul>
          <a href="/"><li>Home</li></a>
          <a href="/event"><li>Event</li></a>
          {{!-- <a href="/recommandation"><li>Recommandation</li></a> --}}
          
          <a href="/profil"><li>Profil</li></a>
          <a href="/profil/create"><li>Create</li></a>

          <div class="nav-right">        
            {{#if currentUser }}
            <a href="/auth/logout"><li>Logout</li></a>   
               {{else }} 
            <a href="/auth/signup"><li>Register</li></a>
            <a href="/auth/login"><li>Login</li></a>
              {{/if}}
          </div>
        </ul>
        </div>
      </nav>

    {{{body}}}

    <hr>
      <footer>
        <hr>
          <h4>Project By Pierre Docquin</h4>
       <hr>
       </footer>
   
    <script src="/js/script.js"></script>
  </body>

</html>