body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  overflow-x: hidden;
}

#topnav_hamburger_icon{
  display: none;
}

nav{
  margin: 2em;

}
nav .nav-right{
  float: right;
}


nav a{
  text-decoration: none;
  color: white;
  margin: 3em;
  font-size: 12px;
}

nav a:hover{
  color: #ff7b00;
}


nav li{
  list-style: none;  
  display: inline;
}








.header-home{
  margin: 0;
}
.header-home img{
  position: relative;
  width: 100%;
  height: auto;
  opacity: 0.65;
}

.header-home div{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  font-size: 24px;
  top: 40%;
  left: 40%;
}

.header-home h1, p{
  color: #EBEBEB;
}



.article-home{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 60em;
  background-color: #EBEBEB;
}

.article-home h2{
  padding: 1em;
}

.div-home{
  width: 40%;
  height: 75%;
  background-color: black;
  color: #ff7b00;

}
.div-home img{
  width: 100%;
}

.div-home h3, p, button{
  margin: 1em 2em;
}

.div-home h3{
  font-size: 1.5em;
}

.div-home p{
  font-size: 1.2em;
}

.div-home button{
  padding: 1em 0em;
  border-radius: 3em;
  border: none;
  transition: 1s;
}
.div-home a{
  text-decoration: none;
  color: black;
  padding: 1em 2em;
  border-radius: 3em;
}

.div-home button:hover{
  background-color: #ff7b00;
  color: black;
}


.second-div-home{
  background-color: black;
  width: 100%;
  height: 35em;
  display: flex;
}

.second-div-home div{
  margin: 4em;
  font-size: 1em;
  line-height: 1.8em;
}

.second-div-home a{
  text-decoration: none;  
  color: #ff7b00;
}

.second-div-home h3{
  font-size: 1.5em;
  margin-bottom: 2em;
  color: white;
}

.second-div-home p{
  font-size: 1.2em;
  margin: 2em 0em;
  color: white;
}







.list-event-contain{
  background-color: #EBEBEB;
  width: 100%;
  margin: 0em;
  padding: 0.5em 0em;
}

.title-event{
  padding: 2em 0em;  
  text-align: center;
}

.search-bar-event{
  text-align: justify;
  margin-left: 5%;
}

.search-bar-event input{
  padding: 0.2em 4em;
}

.search-bar-event label{
  margin: 0em 1em;
}

.search-bar-event button{
  margin: 0em;
  padding: 0.2em;
  background-color: black;
  color: white;
}

.list-event{
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-start;
  margin: 2em 0em;
}

.card-event{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 2.89em;
  width: 28%;
  height: auto;
  background-color: black;
  border: none;
}

.card-event hr{
  color: #ff7b00;
  margin: 0;
  padding: 0;
}

.card-event p{
  font-size: 1.2em;
  color: white;
} 

.card-event h3{
  font-size: 2em;
  color: #ff7b00;
  text-align: center;
}

.card-event img{
    width: 100%;
    height: 22em;
}

.card-event button{
  padding: 1em 0em;
  border-radius: 3em;
  border: none;
  transition: 1s;
  background-color: white;
}

.card-event a{
  text-decoration: none;
  color: black;
  padding: 1.5em 3em;
  border-radius: 3em;
  transition: 1s;
}

.card-event button:hover{
  background-color: #ff7b00;
}

.card-event a:hover{
color: black;
}





.event-detail{
  background-color: #EBEBEB;
  width: 100%;
  height: 68em;
  display: flex;
  justify-content: center;
}

.event-detail-information{
  background-color: #EBEBEB;
  width: 38%;
  height: 50em;
  border-radius: 2em;
  margin: 5em 3.5em 6em;
}

.event-detail-information img{
  width: 100%;
  height: 60%;
  margin-bottom: 1em;
}

.event-detail-information li{
  list-style: none;
  margin: 1.5em 0em;
}

#event-chat {
  width: 40%;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 5em 3.5em
}

#event-chat form{
  height: 10em;
  overflow-y: scroll;
  border-bottom: 1px solid #ccc;
}

#message-input {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
}

#send-chat-btn {
  display: block;
  width: 90%;
  padding: 0.5em 1em;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: 1s;
}

#send-chat-btn:hover{
  background-color: #ff7b00;
  color: black;
}







.profil{
  width: 100%;
  background-color: #EBEBEB;
  padding : 0.2em 0em;
}

.profil header{
  padding: 5em ;
}

.profil-information p,h2{
  color: black;
  text-align: center;
}

.profil-event-title{
  text-align: center;
  margin: 2em 2em;
}

#btn-profil{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.href-profil{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.href-profil a{
  color: #ff7b00;
  padding: 1em;
  margin: 0.5em;
}

.href-profil a:hover{
  color: #ff7b00;
  text-decoration: underline;
}

.href-profil button{
  border: none;
  background-color: black;
  color: #ff7b00;
  cursor: pointer;
  padding: 1em;
  margin: 0.5em;
  font-size: 1em;
}

.href-profil button:hover{
  color: #ff7b00;
  text-decoration: underline;
  background-color: black;
}








.create-form , .edit-form{
  width: 100%;
  height: auto;
  background-color: #EBEBEB;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.create-form form, .edit-form form{
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.create-form label, .edit-form label{
  margin: 0.5em ;
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  align-items: center;
}

.create-form input , .edit-form input {
  margin: 1em;
}

.create-form select , .edit-form select {
  padding: 0.5em 1em;
  margin: 1em;
}

.create-form textarea, .edit-form textarea {
  margin: 1em;
  padding: 0em 3em;
}

.create-form button, .edit-form button{
  padding: 1.5em 3em;
  border-radius: 3em;
  border: none;
  transition: 1s;
  background-color: black;
  color: white;
}

.create-form button:hover , .edit-form button:hover{
  background-color: #ff7b00;
  color: black;
}





#signup, .login-form{
  width: 100%;
  height: 70%;
  display: flex;
  background-color: #EBEBEB;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}


.signup-form form, .login-form form{
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: center;
}

.signup-form form label, .login-form form label{
  margin: 1.5em 1em;
}

#btn-signup, #btn-login {
  padding: 1.5em 3em;
  border-radius: 3em;
  border: none;
  transition: 1s;
  background-color: black;
  color: white;
}

#btn-signup:hover , #btn-login:hover{
  background-color: #ff7b00;
  color: black;
}

.errorMessage-form{
  padding: 0.5em 0em;
  width: 100%;
  border-radius: 0.5em;
}

.signup-form p, .login-form p{
  color: black;
  font-size: 0.5em;
}






footer{
  background-color: black;
  color: white;
  padding: 3em;
  font-size: 10px;

}

hr{
  color: white;
  border: 0.1px solid;
  margin: 0;
  width: 100%;
}


@media (max-width: 900px) and (min-width: 201px){


  
  nav{
    margin: 0em;
  }

  #topnav_responsive_menu {
    display: block;
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    width: 100vw;

    z-index: 9;

    transform-origin: 0% 0%;
    transform: translate(200%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #topnav_responsive_menu ul {
    display: flex;
    flex-direction: column;

    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    min-width: -50vw;
    width: 100vw;
    height: 100vh;
    padding: 56px 0 0;

    text-align: center;

    background: black;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  }
  
  #topnav_responsive_menu.open {
    transform: none;
    position: fixed;
  }
  
  nav a{
    text-decoration: none;
    color: white;
    margin: 3em;
    font-size: 12px;
  }
  
  nav a:hover{
    color: #ff7b00;
  }
  
  
  nav li{
    list-style: none;  
    display: inline;
  }
  
  
  #topnav_hamburger_icon {
    display: block;
    position: relative;
    margin: 16px;
    width: 33px;
    height: 28px;

    z-index: 100;

    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }

  /* define the style (size, color, position, animation, ...) of the 3 spans */
  #topnav_hamburger_icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    margin-bottom: 5px;

    background: #EBEBEB;
    border-radius: 3px;

    z-index: 100;

    opacity: 1;
    left: 0;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  /* set the 3 spans position to look like a hamburger */
  #topnav_hamburger_icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
  }
  #topnav_hamburger_icon span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  #topnav_hamburger_icon span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  /* change color when opening the menu */
  #topnav_hamburger_icon.open span {
    background: #EBEBEB;
  }

  /* the first span rotates 45째 \ */
  #topnav_hamburger_icon.open span:nth-child(1) {
    width: 110%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* the second span disappears */
  #topnav_hamburger_icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  /* the last span rotates -45째 / */
  #topnav_hamburger_icon.open span:nth-child(3) {
    width: 110%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  } #topnav_hamburger_icon {
    display: block;
    position: relative;
    margin: 16px;
    width: 33px;
    height: 28px;

    z-index: 100;

    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }

  /* define the style (size, color, position, animation, ...) of the 3 spans */
  #topnav_hamburger_icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    margin-bottom: 5px;

    background: #EBEBEB;
    border-radius: 3px;

    z-index: 100;

    opacity: 1;
    left: 0;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  /* set the 3 spans position to look like a hamburger */
  #topnav_hamburger_icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
  }
  #topnav_hamburger_icon span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  #topnav_hamburger_icon span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  /* change color when opening the menu */
  #topnav_hamburger_icon.open span {
    background: #EBEBEB;
  }

  /* the first span rotates 45째 \ */
  #topnav_hamburger_icon.open span:nth-child(1) {
    width: 110%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* the second span disappears */
  #topnav_hamburger_icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  /* the last span rotates -45째 / */
  #topnav_hamburger_icon.open span:nth-child(3) {
    width: 110%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  
  
  
  
  .header-home{
    margin: 0;
    width: 100vw;
  }
  .header-home img{
    position: relative;
    width: 100vw;
    height: auto;
    opacity: 0.65;
  }
  
  .header-home div{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    font-size: 12px;
    top: 20%;
    left: 27%;
    width: 50%;
  }
  
  .header-home h1, p{
    color: #EBEBEB;
  }
  
  
  
  .article-home{
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: #EBEBEB;
  }
  
  
  .div-home{
    width: 100%;
    height: auto;
    background-color: black;
    color: #ff7b00;
    padding-bottom: 1em;
  }
  
  .div-home h3, p, button{
    margin: 1em 1.5em;
  }

  .second-div-home{
    position: relative;
    background-color: black;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .second-div-home div{
    margin: 1em 1.5em;
    font-size: 1em;
    line-height: 1.8em;
  }
  

  .title-event{
    padding: 1em 0em;  
  }
  
  .search-bar-event{
    margin-left: 2%;
  }

  
  .search-bar-event label{
    margin: 0em 0.5em;
  }

  
  .list-event{
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    margin: 0em 0em;
  }
  
  .card-event{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em;
    width: 100%;
    height: auto;
    background-color: black;
    border: none;
  }
  .card-event button{
    margin-bottom: 2em;
  }
  .list-event-contain{
    padding: 0;
  }
  


  .event-detail{
    background-color: #EBEBEB;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .event-detail-information{
    background-color: #EBEBEB;
    width: 100%;
    height: auto;
    border-radius: 0em;
    margin: 3em 0em;
  }
  
  .event-detail-information img{
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0em;
  }
  
  .event-detail-information li{
    list-style: none;
    margin: 1.5em 0em;
  }
  
  #event-chat {
    width: 80%;
    border: 1px solid #ccc;
    padding: 1em;
    margin: 0em 1em 1em;
  }
  
  #event-chat form{
    height: 10em;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
  }
  
  #message-input {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
  }
  
}