
<h1 class="title-event">All events around you</h1>

<article class="list-event">

    {{!-- {{#each {{}}}} 
        <div class="card-event">
            <img src="{{this.image}}">
            <h3>{{this.title}}</h3>
            <hr>
            <p>{{this.place}}</p>
            <p>{{this.date}}</p>
        </div>
    {{/each}}--}}

        <div class="card-event">
            <img src="../images/div-home1.jpg">
            <h3>Football Party</h3>
            <hr>
            <p>5 Rue Camille Godard, 33100, Bordeaux</p>
            <p>Mardi 13 Juin | 2023 </p>
            <button><a href="/event/:id">Details Here</a></button>
        </div>

        <div class="card-event">
            <img src="../images/div-home1.jpg">
            <h3>Football Party</h3>
            <hr>
            <p>5 Rue Camille Godard, 33100, Bordeaux</p>
            <p>Mardi 13 Juin | 2023 </p>
            <button><a href="/event/:id">Details Here</a></button>   
        </div>

        <div class="card-event">
            <img src="../images/div-home1.jpg">
            <h3>Football Party</h3>
            <hr>
            <p>5 Rue Camille Godard, 33100, Bordeaux</p>
            <p>Mardi 13 Juin | 2023 </p>
            <button><a href="/event/:id">Details Here</a></button>
        </div>

        <div class="card-event">
            <img src="../images/div-home1.jpg">
            <h3>Football Party</h3>
            <hr>
            <p>5 Rue Camille Godard, 33100, Bordeaux</p>
            <p>Mardi 13 Juin | 2023 </p>
            <button><a href="/event/:id">Details Here</a></button>
        </div>

        <div class="card-event">
            <img src="../images/div-home1.jpg">
            <h3>Football Party</h3>
            <hr>
            <p>5 Rue Camille Godard, 33100, Bordeaux</p>
            <p>Mardi 13 Juin | 2023 </p>
            <button><a href="/event/:id">Details Here</a></button>
        </div>
</article>